<p-card>
    <p class="m-0">

    <form [formGroup]="form">
        <div class="p-field-inputtext"> 
            <input pInputText placeholder="Título" type="text" [(ngModel)]="todo.titulo" formControlName="titulo">
        </div>
        <br/>
        <div class="p-field-inputtextarea">
            <textarea rows="5" cols="35" pInputTextarea placeholder="Descrição" type="text" [(ngModel)]="todo.descricao" formControlName="descricao"></textarea>
        </div>
        <br/>
        <label>Concluída?</label>
        <div class="flex flex-wrap gap-3">
            <div class="p-field-radiobutton">
                <p-radioButton label="Sim" [value]="true" [(ngModel)]="todo.concluido" formControlName="concluido"></p-radioButton>
            </div> 
            <div class="p-field-radiobutton">
                <p-radioButton label="Não" [value]="false" [(ngModel)]="todo.concluido" formControlName="concluido"></p-radioButton>
            </div>
        </div>
        <br/>
        <p-button [disabled]="!form.valid" (click)="salvar()" [label]="id ? 'Editar' : 'Salvar'" styleClass="p-button-rounded" icon="pi pi-check"></p-button>
    </form>
    
</p-card>